tags/Code Release 9-20-2013/Quadriga/src/main/webapp/resources/restxmlschema/resterror.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.digitalhps.org/Quadriga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QuadrigaReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Error">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="message"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>