tags/Code Release 10-18-2013/Quadriga/src/main/webapp/resources/restxmlschema/workspaces.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.digitalhps.org/Quadriga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QuadrigaReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="workspacesList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="workspace" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element type="xs:long" name="id"/>
                    <xs:element type="xs:anyURI" name="uri"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>