Quadriga/src/main/webapp/resources/restxmlschema/conceptdetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.digitalhps.org/Quadriga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="conceptList">
    <xs:complexType>
    	<xs:sequence>
    		<xs:element name="concept" maxOccurs="unbounded"
    			minOccurs="0">
    			<xs:complexType>
    				<xs:sequence>
    					<xs:element type="xs:string" name="pos" />
    					<xs:element type="xs:string" name="name" />
    					<xs:element type="xs:string" name="description" />
    					<xs:element type="xs:anyURI" name="uri" />
    				</xs:sequence>
    			</xs:complexType>
    		</xs:element>
    	</xs:sequence>
    	<xs:attribute type="xs:anyURI" name="conceptPower-url" />
    	<xs:attribute name="path" type="xs:anyURI"></xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>