Quadriga/src/main/webapp/resources/restxmlschema/dictionaryitemslist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.digitalhps.org/Quadriga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dictionaryItemsList">
    <xs:complexType>
    	<xs:sequence>
    		<xs:element name="dictionaryItem" maxOccurs="unbounded"
    			minOccurs="0">
    			<xs:complexType>
    				<xs:sequence>
    					<xs:element type="xs:string" name="id" />
    					<xs:element type="xs:string" name="term" />
    					<xs:element type="xs:string" name="pos" />
    				</xs:sequence>
    			</xs:complexType>
    		</xs:element>
    	</xs:sequence>
    	<xs:attribute type="xs:anyURI" name="wordPower-url" />
    	<xs:attribute name="path" type="xs:anyURI"></xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>