Quadriga/src/main/webapp/resources/restxmlschema/mynetworks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.digitalhps.org/Quadriga" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QuadrigaReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="networkList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="network" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="id"/>
                    <xs:element type="xs:byte" name="status"/>
                    <xs:element type="xs:string" name="projectID"/>
                    <xs:element type="xs:string" name="workspaceID"/>
                    <xs:element type="xs:string" name="uri"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>